body{
  margin: 0;
}


.InitBox {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left:50%; 
    top:30%;
    transform:translate(-50%, -50%);
}

.Welcome{
    font-size: 4rem;
    margin-bottom: 60px;
}


.LoadingBox{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.NewsCardItemBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}